:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: auto;
  /*
  width: 640px;
  height: 480px;
  */
}
